# =========================
# ENV FILES
# =========================
.env
.env.local
.env.production

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

venv/
.env/

# =========================
# FASTAPI
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# NODE
# =========================
node_modules/
dist/
build/

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# MAC
# =========================
.DS_Store

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE
# =========================
.idea/

# =========================
# SECRETS
# =========================
secrets.json
credentials.json
service-account.json

# =========================
# DATABASE
# =========================
*.sqlite
*.db